<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.titouanmathis.alfred-jira-search</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>00B19AB7-7C39-4660-A7DB-4FA5900A7032</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC9A6F6D-A0E1-4451-B040-10E8A8685704</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>04986CE9-10B2-4550-B820-A0230F300ABF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFA18E1E-0C41-4E76-8ACF-E360DCAFD259</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A8FAC688-62B4-491F-BCD9-C8A5242F4974</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>945DB27A-4385-4F3F-AD72-FBC3331F9CFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D20EE1F8-DBBC-451D-B460-69F142785C38</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CDBFFFDA-E86E-47CA-A2B0-CC9F47335EFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D20EE1F8-DBBC-451D-B460-69F142785C38</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A35A55C8-FD67-4430-B9ED-CEE506E23ED4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ADD9DC30-FA11-417D-B918-22F37CA9B8A4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>123FB05C-39F7-4579-BB2E-512EEE97FCAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25DE9561-471B-4BBE-B181-A7ADDDAB25B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00B19AB7-7C39-4660-A7DB-4FA5900A7032</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>639E3A4E-91ED-4CA0-AF7C-5402710650FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5F8879A-6C25-4D1C-A887-8F0BFCE244CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72D6DBC3-3BBD-43E6-81DF-62E4F891F44E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99CB18DF-F47A-4B34-8801-92A0AD7878D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77187584-E6CD-4D35-9432-3FACB301C9DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>775E01DA-4A2B-42F4-BA8C-99CA8AFF0240</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83565831-BD2C-482E-8E00-DF521E410E33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04986CE9-10B2-4550-B820-A0230F300ABF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AC8E160-F7AF-45DF-9224-23D30C766E16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>413EC2EE-73B0-4AA3-8C8E-24561DDCF51F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>908C9B0F-86E6-4A5B-9FD2-8C3D7677988F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25DE9561-471B-4BBE-B181-A7ADDDAB25B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>945DB27A-4385-4F3F-AD72-FBC3331F9CFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E87618D0-8FE8-4F59-AD38-B83CC662D91C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99CB18DF-F47A-4B34-8801-92A0AD7878D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77187584-E6CD-4D35-9432-3FACB301C9DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A56B84E-E632-4C27-BF38-BF8DE4D8CB7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4021E2F-99EE-4EFF-BF82-763D2AAAB4E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A35A55C8-FD67-4430-B9ED-CEE506E23ED4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07D9271E-1A2A-47E9-B330-FFBEB370C450</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5F8879A-6C25-4D1C-A887-8F0BFCE244CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCB220F2-040B-41EA-90EB-10657C2939C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A62279E7-77C3-43D1-B7C0-E08C3EEA7889</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C40BDC92-8E13-46F6-BE43-A07F107DD105</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8AC8E160-F7AF-45DF-9224-23D30C766E16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAF0ADEB-57C2-4F21-A0B6-75394A49F5EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>639E3A4E-91ED-4CA0-AF7C-5402710650FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4021E2F-99EE-4EFF-BF82-763D2AAAB4E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72D6DBC3-3BBD-43E6-81DF-62E4F891F44E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A8FAC688-62B4-491F-BCD9-C8A5242F4974</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BAF0ADEB-57C2-4F21-A0B6-75394A49F5EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E03EB1B0-64CA-47E1-BD0A-902E91E5299A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>908C9B0F-86E6-4A5B-9FD2-8C3D7677988F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3326E052-F1C8-4DA8-9925-EF0D1324A51D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C40BDC92-8E13-46F6-BE43-A07F107DD105</key>
		<array/>
		<key>CFA18E1E-0C41-4E76-8ACF-E360DCAFD259</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A56B84E-E632-4C27-BF38-BF8DE4D8CB7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E529879A-321E-4626-A70A-3F0A489B9754</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04986CE9-10B2-4550-B820-A0230F300ABF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Titouan Mathis</string>
	<key>description</key>
	<string>Search unresolved Jira issues with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jira Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node configure.js --token "{query}" --save</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77187584-E6CD-4D35-9432-3FACB301C9DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node configure.js --token "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Generate one on https://id.atlassian.net → "{var:token}"</string>
				<key>title</key>
				<string>Enter your Jira token</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>99CB18DF-F47A-4B34-8801-92A0AD7878D4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your Jira token has been saved.</string>
				<key>title</key>
				<string>Alfred Jira Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>775E01DA-4A2B-42F4-BA8C-99CA8AFF0240</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>72D6DBC3-3BBD-43E6-81DF-62E4F891F44E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>token</string>
						<key>outputlabel</key>
						<string>Configure token</string>
						<key>uid</key>
						<string>A8FAC688-62B4-491F-BCD9-C8A5242F4974</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>org</string>
						<key>outputlabel</key>
						<string>Configure org</string>
						<key>uid</key>
						<string>E03EB1B0-64CA-47E1-BD0A-902E91E5299A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>username</string>
						<key>outputlabel</key>
						<string>Configure username</string>
						<key>uid</key>
						<string>3326E052-F1C8-4DA8-9925-EF0D1324A51D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C4021E2F-99EE-4EFF-BF82-763D2AAAB4E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jconf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node configure.js</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Press ⏎ to configure the required values</string>
				<key>title</key>
				<string>Configure the workflow</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9A56B84E-E632-4C27-BF38-BF8DE4D8CB7C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>CFA18E1E-0C41-4E76-8ACF-E360DCAFD259</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>conf</string>
						<key>outputlabel</key>
						<string>Configure</string>
						<key>uid</key>
						<string>A8FAC688-62B4-491F-BCD9-C8A5242F4974</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>update</string>
						<key>outputlabel</key>
						<string>Update</string>
						<key>uid</key>
						<string>D20EE1F8-DBBC-451D-B460-69F142785C38</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^timer-</string>
						<key>outputlabel</key>
						<string>Start timer</string>
						<key>uid</key>
						<string>ADD9DC30-FA11-417D-B918-22F37CA9B8A4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>04986CE9-10B2-4550-B820-A0230F300ABF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jj</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Retrieving suggestions...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Jira issues with suggestions</string>
				<key>title</key>
				<string>Search Jira issues</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E529879A-321E-4626-A70A-3F0A489B9754</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node configure.js --org "{query}" --save</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A5F8879A-6C25-4D1C-A887-8F0BFCE244CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node configure.js --org "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>JIRA_ORG in https://JIRA_ORG.atlassian.net → "{var:org}"</string>
				<key>title</key>
				<string>Enter your Jira organization name</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>639E3A4E-91ED-4CA0-AF7C-5402710650FF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your Jira organization name has been saved.</string>
				<key>title</key>
				<string>Alfred Jira Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FCB220F2-040B-41EA-90EB-10657C2939C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>BAF0ADEB-57C2-4F21-A0B6-75394A49F5EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node update-workflow.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>945DB27A-4385-4F3F-AD72-FBC3331F9CFE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Latest version successfully downloaded!</string>
				<key>title</key>
				<string>Alfred Jira Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E87618D0-8FE8-4F59-AD38-B83CC662D91C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Retrieving suggestions...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node boards.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Jira boards with suggestions</string>
				<key>title</key>
				<string>Search Jira boards</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>83565831-BD2C-482E-8E00-DF521E410E33</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node configure.js --username "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Currently set to "{var:username}"</string>
				<key>title</key>
				<string>Enter your Jira username</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>25DE9561-471B-4BBE-B181-A7ADDDAB25B7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your Jira username has been saved.</string>
				<key>title</key>
				<string>Alfred Jira Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FC9A6F6D-A0E1-4451-B040-10E8A8685704</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node configure.js --username "{query}" --save</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>00B19AB7-7C39-4660-A7DB-4FA5900A7032</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>908C9B0F-86E6-4A5B-9FD2-8C3D7677988F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Starting to update the workflow...</string>
				<key>title</key>
				<string>Alfred Jira Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CDBFFFDA-E86E-47CA-A2B0-CC9F47335EFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>KEY=$1
KEY=${KEY/timer-/}

echo "$(/usr/local/bin/node /usr/local/bin/timer start $KEY)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A35A55C8-FD67-4430-B9ED-CEE506E23ED4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Timer for {var:key}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>07D9271E-1A2A-47E9-B330-FFBEB370C450</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>123FB05C-39F7-4579-BB2E-512EEE97FCAF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Updating the local data...</string>
				<key>title</key>
				<string>Alfred Jira Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C40BDC92-8E13-46F6-BE43-A07F107DD105</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ju</string>
				<key>subtext</key>
				<string>Press ⏎ to update the local data</string>
				<key>text</key>
				<string>Update local data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A62279E7-77C3-43D1-B7C0-E08C3EEA7889</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The local data has been updated!</string>
				<key>title</key>
				<string>Alfred Jira Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>413EC2EE-73B0-4AA3-8C8E-24561DDCF51F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node update-data.js --force &amp;&amp; ./node_modules/.bin/run-node update-data-boards.js --force &amp;&amp; ./node_modules/.bin/run-node utils/check-version.js</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8AC8E160-F7AF-45DF-9224-23D30C766E16</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Use `jj` to display and filter all the unresolved Jira issues of your Jira cloud instance.

Use `jb` to display and filter all your Jira boards.

Use `ju` to force update the local data (default cache is 5min).

Use `jconf` to configure the workflow.

## Filtering

When using the `jj` command, some smart filtering can be done:

- Filter by project: `jj p=&lt;PROJECT_KEY&gt;`
- Filter by assignee: `jj u=&lt;USERNAME&gt;`
- Filter by status: `jj s=&lt;STATUS&gt;`
- Filter by sprint status: `jj sp=&lt;SPRINT_STATUS&gt;`</string>
	<key>uidata</key>
	<dict>
		<key>00B19AB7-7C39-4660-A7DB-4FA5900A7032</key>
		<dict>
			<key>xpos</key>
			<integer>1155</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>04986CE9-10B2-4550-B820-A0230F300ABF</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>07D9271E-1A2A-47E9-B330-FFBEB370C450</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>123FB05C-39F7-4579-BB2E-512EEE97FCAF</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>25DE9561-471B-4BBE-B181-A7ADDDAB25B7</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>413EC2EE-73B0-4AA3-8C8E-24561DDCF51F</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>639E3A4E-91ED-4CA0-AF7C-5402710650FF</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>72D6DBC3-3BBD-43E6-81DF-62E4F891F44E</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>77187584-E6CD-4D35-9432-3FACB301C9DF</key>
		<dict>
			<key>xpos</key>
			<integer>1145</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>775E01DA-4A2B-42F4-BA8C-99CA8AFF0240</key>
		<dict>
			<key>xpos</key>
			<integer>1315</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>83565831-BD2C-482E-8E00-DF521E410E33</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>8AC8E160-F7AF-45DF-9224-23D30C766E16</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>908C9B0F-86E6-4A5B-9FD2-8C3D7677988F</key>
		<dict>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>945DB27A-4385-4F3F-AD72-FBC3331F9CFE</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>99CB18DF-F47A-4B34-8801-92A0AD7878D4</key>
		<dict>
			<key>xpos</key>
			<integer>965</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>9A56B84E-E632-4C27-BF38-BF8DE4D8CB7C</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>A35A55C8-FD67-4430-B9ED-CEE506E23ED4</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>A5F8879A-6C25-4D1C-A887-8F0BFCE244CD</key>
		<dict>
			<key>xpos</key>
			<integer>1150</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>A62279E7-77C3-43D1-B7C0-E08C3EEA7889</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>BAF0ADEB-57C2-4F21-A0B6-75394A49F5EE</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>C4021E2F-99EE-4EFF-BF82-763D2AAAB4E0</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>C40BDC92-8E13-46F6-BE43-A07F107DD105</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>725</integer>
		</dict>
		<key>CDBFFFDA-E86E-47CA-A2B0-CC9F47335EFB</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>CFA18E1E-0C41-4E76-8ACF-E360DCAFD259</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>E529879A-321E-4626-A70A-3F0A489B9754</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>E87618D0-8FE8-4F59-AD38-B83CC662D91C</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>FC9A6F6D-A0E1-4451-B040-10E8A8685704</key>
		<dict>
			<key>xpos</key>
			<integer>1320</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>FCB220F2-040B-41EA-90EB-10657C2939C1</key>
		<dict>
			<key>xpos</key>
			<integer>1320</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>JQL_QUERY</key>
		<string>created >= -200d OR updated >= -90d ORDER BY updated DESC</string>
	</dict>
	<key>version</key>
	<string>2.3.3</string>
	<key>webaddress</key>
	<string>https://www.titouanmathis.com</string>
</dict>
</plist>
